body{
    background: #E5EDF1;
}
.signup_img{
    width:40%;
    background: #0D374C;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.register-img{
    max-width:80%;
    height: auto;
    padding:2rem;   
}
.signupform__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:50%;
    left:65%;
    transform: translate(-50%,-50%);
    max-width:85%; 
    gap:1.2rem;

}
/* 
h2{
    display: flex;
    
    flex-direction: column;
} */


/* .label{
   padding: 0.2rem;
   margin-bottom: 5rem;

} */

.signupform__container input{
  width: 100%;
  padding: 0.75rem 0.75rem;
  border-radius: 999px;
  margin-bottom: 1.25rem;
  background: #ffffff;
  border: none;
  color: #000000;
  overflow: hidden;
}
.signup-btn{
    margin-top: .5rem;
    padding: 0.75rem 1.5rem;
    background: #223843;
    color:#ffffff;
    font-weight: 600;
    font-size: 1.2rem;
}