 body{
    background: #E5EDF1;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.signupform__container{
    background-color: #fff;
    border-radius:0.5rem ;
    padding: 1.5rem 1rem;
    max-width: 700px;
    width: 100%;
}

.signupform__container .signup-title{
    font-size:1.5rem;
    font-weight: 600;
    position: relative;
}

.signupform__container .signup-title::before{
    content: '';
    position: absolute;
    height: 2px;
    left:0;
    bottom:0;
    width:2rem;
    background: #9b59b6;

}

.content form .user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form .user-details .input-box{
    width: calc(100%/2-10px);
    margin-bottom: 1rem;
}
/*  
.signup-btn{
    margin-top: .5rem;
    padding: 0.75rem 1.5rem;
    background: #223843;
    color:#ffffff;
    font-weight: 600;
    font-size: 1.2rem;
}  */