.questions {
  display: flex;
  width: 100%;
}
.card {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  flex-direction: column;
}
.question-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border-radius: 0.5rem; */
  border-bottom: 1px solid #000;
  padding: 1rem;
  box-shadow: 0px 5px 12px #000;
}
.question-container-left {
  display: flex;
  margin-right: 2rem;
}
.question-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: small;
}
.question-stat {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  align-items: center;
}
.question-stat > p {
  font-size: large;
}

.question-container-right {
  display: flex;
}
.question-body {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.question-title {
  display: flex;
  margin-bottom: 0.25rem;
}
.question-title > a {
  color: #0000ff;
  font-size: 1.1rem;
}
.question-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}
.tag {
  background-color: #87ceeb;
  padding: 5px 10px;
  border-radius: 3px;
}
.author {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}
.author > small {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
}
.author-details {
  display: flex;
  align-items: center;
  margin-left: 3px;
  /* float: right; */
}
.author-details > p {
  margin-left: 5px;
  font-size: small;
  float: right;
}
