.questions{
    display: flex;
    width: 80%;
   
}
.questions-container{
    /* background: #fff; */
    display: flex;
    width:100%;
    height:6rem;
    border-radius:0.5rem;
    padding: 1rem 7rem;
}
.questions-body{
    margin-left:1.5rem;
}