.questions {
  display: flex;
  width: 100%;
}
.card {
  display: flex;
  width: 100%;
}
.question-container {
  /* background: #fff; */
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height:7rem; */
  border-radius: 0.5rem;
  border-bottom: 1px solid #000;
  padding: 1rem;
}
.question-container-left {
  display: flex;
  margin-right: 2rem;
}
.question-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: small;
}
.question-stat {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  align-items: center;
}
.question-stat > p {
  font-size: large;
}

.question-container-right{
    display: flex;
}
.question-body{
    display: flex;
    width:100%;
    flex-direction: column;
}
.question-title{
    display:flex;
    margin-bottom:0.25rem;
}
.question-title > a{
    color:#0000ff;
    font-size:1.1rem;
}
.question-tags{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0.5rem 1rem;
}
.author{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}
.author-details{
    display: flex;
    margin-left:3px;
}
