.card {
    display: flex;
    margin-top: 0.5rem ;
    width: 95%;
    flex-direction: column;
    gap:1rem;
    
  }
  .question-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
    border-bottom: 1px solid #000;
    padding: 1rem;
    box-shadow: 0px 3px 3px #000;
  }
  
  .question-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    font-size: small;
  }
  .question-stat {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    justify-content:space-evenly ;
    align-items: center;
    /* background-color: aqua; */
    padding: 5px 10px;
  }
  .question-stat > p {
    font-size: large;
    margin: 0.5rem;

  }
  
  .question-container-up {
    display: flex;
  }
  .question-body {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .question-title {
    display: flex;
    
    margin: 0 0 0.5rem 0.5rem;
  }
  .question-title > a {
    color: #0000ff;
    font-size: 1.1rem;
  }
  .question-tags {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    font-size: small;
  }
  .tag {
    margin: 0.5rem 1rem;
    
  }
  .author {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
  }
  .author > small {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 8px;
  }
  .author-details {
    display: flex;
    align-items: center;
    margin-left: 3px;
    /* float: right; */
  }
  .author-details > p {
    margin-left: 5px;
    font-size: small;
    float: right;
  }
  