.card {
  display: flex;
  margin-top: 1.25rem;
  width: 95%;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: #ffffff;
}

.question-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 3px 3px #808080;
}
.question-container-main {
  display: flex;
}

.question-sidebar {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  font-size: small;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  align-items: center;
  padding: 5px 10px;
}

.question-container-right {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 100%;
  max-width: 100%;
}
.question-container-top {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0.5rem;
  border: 2px solid red;
}
@media (max-width: 800px) {
  .question-container-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .tag {
    width: min-content;
    white-space: normal;
  }
}
.timestamp {
  display: flex;
  /* margin:auto; */
  font-size: small;
  font-weight: bold;
  margin-right: 5%;
  /* align-items: flex-start; */
  /* border:1px solid #000; */
  /* height: 100%; */
}
.timestamp small {
  margin: 0 0.25rem 0 0;
  align-items: center;
}
.question-tags {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  justify-content: space-between;
  font-size: small;
}
.tag {
  border: 2px solid blue;
  color: #076c8c;
  height: 100%;
}
.question-body {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.question-title {
  display: flex;
  margin: 0.25rem 0 0.75rem 0rem;
}
.question-title > a {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
}
.question-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.question-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.question-stat {
  display: flex;
  /* margin-right: 4rem ; */
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #d9d9d9;
  border-radius: 4px;
  padding: 0 10px;
}
.question-stat > span {
  margin-right: 2px;
}
.question-stat > p {
  /* font-size: large; */
  margin: 0.5rem;
}
.answer-button {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  justify-content: space-between;
}
.btn-answer {
  color: #ffffff;
  background-color: #076c8c;
  font-size: 1.1rem;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
}
