.card {
    display: flex;
    margin-top: 1.25rem ;
    width: 95%;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color:#ffffff;
    }

  .question-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 3px 3px #808080;
  }
  
  .question-sidebar {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    font-size: small;
  }
  .sidebar-content{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    align-items: center;
    padding: 5px 10px;
  }
  
.question-container-right {
    display: flex;
    flex-direction: column;
  }
  .question-container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .timestamp{
    display: flex;
    margin-top:0.25rem;
    align-items: center;

  }
  .timestamp small{
    margin:0 0.5rem 0 0;
    align-items: center;

  }
  .question-tags {
    display: flex;
    align-items: center;
    font-size: small;
  }
  .tag {
    margin: 0.5rem 1rem;
    color:#076C8C;
    
  }
  .question-body {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .question-title {
    display: flex;
    margin: 0.25rem 0 0.75rem 0rem;
  }
  .question-title > a {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .question-stats {
    display: flex;
    flex-direction: row;
    /* margin-right: 2rem; */
    /* align-items: center; */
    padding: 5px 10px;
  }
  .question-stat {
    display: flex;
    margin-right: 4rem ;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 4px 10px;
  }
  .question-stat>span{
    margin-right: 2px;
  }
  .question-stat > p {
    /* font-size: large; */
    margin: 0.5rem;
  }
  .answer-button{
    display: flex;
    align-items: center;
    float: right;
    flex: 2;
    justify-content: space-between;
  }
  .btn-answer{
    color: #ffffff;
    background-color: #076C8C;
    font-size:1.1rem;
    padding: 8px 10px;
    border-radius: 4px;
    border:none;
  }
  