body{
    background: #E5EDF1;
}
.signup_img{
    width:40%;
    background: #0D374C;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.register-img{
    max-width:80%;
    height: auto;
    padding:2rem;   
}
.form__container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position:absolute;
    top:50%;
    /* left:65%; */
    transform: translate(-50%,-50%);
    max-width:50%; 
    gap:1.2rem;

}
/* .form__container form{
    width:60%;
} */
h2{
    display: flex;
    flex-direction: column;
}
/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position:absolute;
    top:50%;
    left:65%;
    transform: translate(-50%,-50%);
    width:60%;
    gap:1.2rem;
} */


label{
   padding: 0.25rem;
   margin-bottom: 5rem;

}

input,select{
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  background: #ffffff;
  border: none;
  color: #000000;
  overflow: hidden;
}
button{
    padding: 0.75rem 2rem;
    background: #223843;
    color:#ffffff;
    font-weight: 600;
    font-size: 1.2rem;
}